<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.qydata.mapper.ApiCostMapper">


    <resultMap id="ApiCost_Map" type="org.qydata.po.ApiCost">
        <result column="apiId" property="apiId"/>
        <result column="years" property="years"/>
        <result column="months" property="months"/>
        <result column="days" property="days"/>
        <result column="totleCost" property="totleCost"/>
        <result column="usageAmount" property="usageAmount"/>
    </resultMap>

    <!--统计-->
    <select id="queryApiConsume" parameterType="map" resultMap="ApiCost_Map">
        SELECT apiId,DATE_FORMAT(createTime,'%Y') years,DATE_FORMAT(createTime,'%m') months,DATE_FORMAT(createTime,'%d') days,
        sum(cost) totleCost,count(apiRequestLogId) usageAmount
        FROM qyfinance.bkvwApiRequestLog
        WHERE ok=1
        AND isMock=0
        <![CDATA[
        AND DATE_FORMAT(createTime,'%Y-%m-%d') = DATE_FORMAT(date_sub(sysdate(),interval 1 day),'%Y-%m-%d')
          ]]>
        GROUP BY DATE_FORMAT(createTime,'%Y-%m-%d'),apiId
    </select>

    <insert id="insertApiConsume" parameterType="list">
        INSERT INTO qyfinance.ApiCostDayCount(year,month,day,apiId,totleCost,usageAmount,consuTime)
        VALUES
        <foreach collection="list" item="apiCost" index="index" separator=",">
            (
            #{apiCost.years},#{apiCost.months},#{apiCost.days},
            #{apiCost.apiId},#{apiCost.totleCost},#{apiCost.usageAmount},
            #{apiCost.consuTime}
            )
        </foreach>
    </insert>

    <delete id="deleteApiConsume" parameterType="map">
        DELETE FROM qyfinance.ApiCostDayCount
        WHERE year=#{years}
        AND month=#{months}
        AND day=#{days}
    </delete>

</mapper>